In [15]:

result=1
for x in list1:
    result = result * x
result
   # list1=[2,3,6]
    #return result

2
3
6

36

In [27]:
def last(n):
    return n[-1] 

a= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
sorted(list, key=last)
print(sorted(a))

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [53]:
d1 = {'a': 100, 'b': 200, 'c':300}

d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
for key in d1:
   
    if key in d2:
        d3[key] = d2[key] + d1[key]
       
    else:
        d3[key]=d1[key]
for key in d2:
    
    if key in d1:
        d3[key] = d1[key] + d2[key]
      
    else:
        d3[key]=d2[key]
        
        
print (d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [2]:
num = int(input("Type a number: "))

numDict = {}
for i in range(1, num+1):
    numDict[i] = i*i
    print(numDict)

Type a number: 8
{1: 1}
{1: 1, 2: 4}
{1: 1, 2: 4, 3: 9}
{1: 1, 2: 4, 3: 9, 4: 16}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [5]:

my_list =[('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]

my_list.sort(key=lambda x: x[1], reverse=True)
print(my_list)

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]